﻿@using DetyraArkives_SkerdilajdSkenderi.Models;
@model dynamic
<ul id="lista-skedare">
    @foreach (var d in Model.filtrimdok)
    {

        <li id=@(d.ID_Dokument) class="inlinineLink">
            <input type="checkbox" id=@(d.ID_Dokument)  onchange="documentCheckChanged('@(d.ID_Dokument)', this.checked)"/>
            <img style="width:75px; height:85px;" src="~/Imazhe/dokumentfilepic.png" />
            <label for="decimal_input"> @(d.Emer)</label>
        </li>

    }
</ul>
