﻿


@model DetyraArkives_SkerdilajdSkenderi.Models.DetArkiveDatabase.Skedar
<!doctype html>
<html lang="en">
<body>
    <div id="skedareSubjekti">
        @if (Model != null)
        {
            foreach (Subjekti f in Model.Subjekti)
            {
                <div class="skedare-subjekti">
                    <input type="checkbox" id=@("SubjektID" + f.Id) name=@("Emer" + f.Id) onchange=@("DokumentCheck(" + f.Id + ", this.checked)") />
                    <img style="width:75px; height:85px;" src="~/Imazhe/folder-icon.png" ondblclick=@("hapFile(" + f.Id + ")") />
                    <span id=@("SubjektID" + f.Id)>
                        @f.Emri;
                    </span>
                </div>
            }

        }
    </div>
    }

</body>
</html>
