﻿


@using DetyraArkives_SkerdilajdSkenderi.Models;
@model dynamic
@{
    ViewBag.Title = "Arkiva";
}
<!doctype html>
<html lang="en">
<head>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/ArkivaHome.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>


    <script>
        document.ready(function () {
            $('button').tooltip();
        })
    </script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/umd")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @{
        ViewBag.Title = "Arkiva";
    }

</head>


<body class="overflow-hidden">


    <!--Popup per ngarkim dokumentash-->
    <div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" aria-labelledby="modalUploadTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label></label>
                    <h5 class="modal-title" id="exampleModalLongTitle">Ngarko Dokument</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" id="uploadHidden" multiple hidden onchange="getDocEmer()" autocomplete="off" />

                        </div>

                        <div class="input-group-append">
                            <label for="exampleFormControlSelect2">Lloji i dokumentit</label>
                            <div>
                                <select class="form-control" id="llojdokumentiUpload">
                                    <option>Zgjidhni llojin e dokumentit</option>
                                    <option value="Lloj1">Lloji 1</option>
                                    <option value="Lloj2">Lloji 2</option>
                                </select>
                            </div>
                            <button class="btn btn-primary" onclick="zgjithFile()" type="button">Ngarko Dokument</button>
                        </div>
                    </div>
                    <div id="documentNamesUpload"></div>
                    <div>
                        <label for="exampleFormControlInput1">Fusha e Indeksimit</label>
                        <input type="text" class="form-control" id="indexUpload" autocomplete="off" placeholder="Fusha e Indeksimit"
                               oninvalid="this.setCustomValidity('Ju lutem plotesoni fushen e indeksimit.')"
                                           oninput="setCustomValidity('')">
                    </div>


                    <label for="lblVendodhjeFizike">Vendodhja fizike e dokumentit</label>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" id="zyraUpload" class="form-control" autocomplete="off" placeholder="Zyra"
                                   oninvalid="this.setCustomValidity('Ju lutem plotesoni zyren ku ndodhet dokumenti.')"
                                           oninput="setCustomValidity('')"
                                       onkeypress="javascript:return isNumber(event)">
                        </div>
                        <div class="col">
                            <input type="text" id="nrKutiUpload" class="form-control" autocomplete="off" placeholder="Numri i kutise"
                                   oninvalid="this.setCustomValidity('Ju lutem plotesoni numrin e kutise ku ndodhet dokumenti.')"
                                           oninput="setCustomValidity('')"
                                       onkeypress="javascript:return isNumber(event)">
                        </div>
                        <div class="col">
                            <input type="text" id="raftiUpload" class="form-control" autocomplete="off" placeholder="Rafti"
                                   oninvalid="this.setCustomValidity('Ju lutem plotesoni raftin ku ndodhet dokumenti.')"
                                           oninput="setCustomValidity('')"
                                       onkeypress="javascript:return isNumber(event)">
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" id="hiqDocEmer" class="btn btn-secondary" onclick="hiqDocEmer()" data-dismiss="modal">Mbyll</button>
                    <button type="button" id="uploadDocument" onclick="uploadF()" data-dismiss="modal" class="btn btn-primary">Ruaj</button>
                </div>
            </div>
        </div>

    </div>
    <!--Fundi i Popup per ngarkim dokumentash-->
    <!--Popup per preview dokumentash-->
    <div class="modal fade" id="modalPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Shiko Dokument</h5>
                    
                       
                </div>
                <div class="modal-body">

                    <div>
                        <label for="exampleFormControlInput1">Emri i dokumentit</label>
                        <input type="text" class="form-control" id="docNamePreview" placeholder="Emri i dokumentit" disabled autocomplete="off">
                    </div>
                    <br />
                    <div class="form-col">
                        <label for="exampleFormControlInput2">Vendodhja fizike e dokumentit</label>
                    </div>
                    <div class="form-row">

                        <div class="col">
                            <input type="text" id="zyraPreview" class="form-control" autocomplete="off" placeholder="Zyra">
                        </div>
                        <div class="col">
                            <input type="text" id="nrKutiPreview" class="form-control" autocomplete="off" placeholder="Numri i kutise">
                        </div>
                        <div class="col">
                            <input type="text" id="raftiPreview" class="form-control" autocomplete="off" placeholder="Rafti">
                        </div>
                    </div>

                    <div>
                        <label for="exampleFormControlInput1">Fusha e Indeksimit</label>
                        <input type="text" class="form-control" id="indexPreview" placeholder="Fusha e Indeksimit" autocomplete="off">
                    </div>
                    <div id="document-container" style="margin-top:30px;">
                        <iframe src="" width="100%" height="400px;" id="iframePreview"></iframe>
                    </div>

                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button"  class="btn btn-secondary"  data-dismiss="modal">Mbyll</button>
                    <button type="button" onclick="EditF()"  data-dismiss="modal" class="btn btn-primary">Ndrysho</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fundi i Popup per preview dokumentash-->
    <!--Popup per fshirje dokumentash-->
    <div class="modal fade" id="modalFshi" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Fshi Dokumentin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="col-auto modal-body d-flex p-2">
                    <h5> A jeni te sigurte qe doni te fshini dokumente nga Arkiva? <br />Ky veprim nuk mund te zhbehet.</h5>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anullo</button>
                    <button type="button" class="btn btn-primary" onclick="fshiDok()" data-dismiss="modal">Fshi</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fundi i Popup per fshirje dokumentash-->
    
    <!--Popup sukses fshirje dokumentash-->
    <div class="modal fade" tabindex="-1" role="dialog" id="successModal1">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>

                    <span aria-hidden="true">&times;</span>

                </div>
                <div class="col-auto modal-body d-flex p-2">
                    <h5> Dokumenti u fshi me sukses. <br /></h5>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Mbyll</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fundi i Popup sukses fshirje dokumentash-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-sticky-top">
        <a class="navbar-brand" style="color:black;">Arkiva</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link register" href="@Url.Action("Index", "Login")">Hyr në Llogari</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link login" href="@Url.Action("Index", "Register")">Rregjistrohu</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--BarNavigimi-->


    <div class="container-fluid">

        <div class="row">
            <div class="col-5">

                <div class="ikona">
                    <span class="actions">
                        <ul>
                            <span class="mr-4"><button data-toggle="modal" id="upload" data-target="#modalUpload" data-placement="left" title="Shto dokument" class="btn_ikone"><i class="fa fa-plus"></i></button></span>
                            <span class="mr-4"><button data-toggle="modal" id="preview" data-target="#modalPreview" onclick="modalPreview()" data-placement="left" title="Shiko dokument" class="btn_ikone"><i class="fa fa-eye"></i></button></span>
                            <span class="mr-4"><button data-toggle="modal" id="fshi" data-target="#modalFshi" data-placement="left" title="Fshi dokument" class="btn_ikone"><i class="far fa-trash-alt"></i></button></span>
                            <span class="mr-4"><button data-toggle="modal" id="download" data-placement="left" title="Shkarko dokument" onclick="DownloadF()" class="btn_ikone"><i class="fas fa-arrow-down"></i></button></span>
                        </ul>
                    </span>
                </div>
                <!-- Ikona-->
                <!-- Fillimi i Filtra-->
                <div class="filtra">
                    <form>
                        <div class="d-flex flex-column">
                            <div class="form-group">
                                <div>
                                    <label for="exampleFormControlInput1">Subjekti</label>
                                    <input type="text" class="form-control form-control-sm" id="emerSubjektFilterResult" autofocus="autofocus" autocomplete="off" required placeholder="Numri i subjektit"
                                           oninvalid="this.setCustomValidity('Ju lutem plotesoni emrin e perdoruesit.')"
                                           oninput="setCustomValidity('')">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="exampleFormControlInput1">Numër Inspektimi</label>
                                    <input type="text" class="form-control form-control-sm" id="numerInspektimFilterResult" autocomplete="off" required placeholder="Numër inspektimi"
                                           oninvalid="this.setCustomValidity('Ju lutem plotesoni numrin e inspektimit.')"
                                           onkeypress="javascript:return isNumber(event)"
                                           oninput="setCustomValidity('')">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="exampleFormControlSelect1">Lloji i dokumentit</label>
                                    <select class="form-control form-control-sm" id="llojDokumentiFilterResult" required>
                                        <option disabled>Zgjidh llojin e dokumentit</option>
                                        <option>Lloj1</option>
                                        <option>Lloj2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="lblemerDokumenti">Emri i Dokumentit</label>
                                    <input type="text" class="form-control form-control-sm" id="emerDokumentiFilterResult" autocomplete="off" required placeholder="dokument.pdf"
                                           oninvalid="this.setCustomValidity('Ju lutem plotesoni emrin e dokumentit.')"
                                           oninput="setCustomValidity('')">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="lblfusheIndeksimi">Fusha e indeksimit</label>
                                    <input type="text" class="form-control form-control-sm" id="fusheIndeksFilterResult" autocomplete="off" required placeholder="Indeksi"
                                           oninvalid="this.setCustomValidity('Ju lutem plotesoni fushen e indeksimit.')"
                                           oninput="setCustomValidity('')"
                                </div>
                            </div>


                            <div>
                                <label for="lblVendodhjeFizike">Vendodhja fizike e dokumentit</label>

                                <input type="text" class="form-control form-control-sm" style="margin-bottom:10px;" id="zyreFilterResult" autocomplete="off" required placeholder="Zyra"
                                       oninvalid="this.setCustomValidity('Ju lutem plotesoni zyren ku ndodhet dokumenti.')"
                                           oninput="setCustomValidity('')"
                                       onkeypress="javascript:return isNumber(event)">
                                <input type="text" class="form-control form-control-sm" style="margin-top: 10px;" id="kutiaFilterResult" autocomplete="off" required placeholder="Numri i kutisë"
                                       oninvalid="this.setCustomValidity('Ju lutem plotesoni kutine ku ndodhet dokumenti.')"
                                           oninput="setCustomValidity('')"
                                       onkeypress="javascript:return isNumber(event)">
                                <input type="text" class="form-control form-control-sm" style="margin-top: 10px;" id="shelfFilterResult" autocomplete="off" required placeholder="Rafti"
                                       oninvalid="this.setCustomValidity('Ju lutem plotesoni raftin ku ndodhet dokumenti.')"
                                           oninput="setCustomValidity('')"
                                       onkeypress="javascript:return isNumber(event)">
                            </div>

                            <!--Datepicker-->
                            <div class="form-group ">
                                <label for="lblDateRregjistrimi">Data e rregjistrimit te dokumentit</label>
                                <div class='input-group date' >
                                    <input type='text' id="startDateFilterResult" class="form-control text-right form-control-sm" style="margin-bottom:10px;" autocomplete="off" required placeholder="dd/mm/vvvv" 
                                           oninvalid="this.setCustomValidity('Ju lutem plotesoni daten fillestare.')"
                                           oninput="setCustomValidity('')">
                                    <span><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>



                        <div class="form-group ">
                            <div class='input-group date'>
                                <input type='text' id="endDateFilterResult" class="form-control text-right form-control-sm" autocomplete="off" required placeholder="dd/mm/vvvv" 
                                       oninvalid="this.setCustomValidity('Ju lutem plotesoni daten perfundimtare.')"
                                           oninput="setCustomValidity('')">
                                <span class="input-group-addon">
                                    <span><i class="fa fa-calendar"></i></span>
                                </span>
                            </div>
                        </div>
                        <!--Fundit I div-it Datepicker-->

                        <div class="form-group justify-content-center">
                            <div class="col-auto">
                                <button class="btn btn-success mr-5" id="searchfilter"  onclick="filtriArkives()">Kërko</button>
                                <button class="btn btn-secondary mr-5" id="clearfilter"  onclick="clearFilter()">Pastro</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Fundi i Filtra-->

    <div class="col">
        <div class="breadcrumb">
            <input type="checkbox" id="selectAll" style="margin-top: -15px; margin-left:26px;" onchange="checkSelect()" aria-label="Checkbox for following text input">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" id="LinkNav">
                    <li class="breadcrumb-item"><a style='color:#4582ec;cursor:pointer' onclick="afishoSubjekteLink()">Subjekt</a></li>

                </ol>
            </nav>
        </div>
        <!-- breadcrumb-->


        <div class="table-skedare" id="filet">
            <ul id="lista-skedare">
                @foreach (var s in Model.subjektet)
                {

                    <li id=@(s.ID_Subjekti) class="inlinineLink">
                        <input type="checkbox" id="selectAll" />
                        <img onclick="afishoInspektime(@("'"+s.Emer+"'"))" style="width:75px; height:85px;" src="~/Imazhe/folder-icon.png" />
                        <label for="decimal_input"> @(s.Emer)</label>
                    </li>

                }


            </ul>
        </div>
    </div>
    <!-- Fundit i div per shfaqjen e skedareve-->


    <style>

        #documentNamesUpload {
            margin: 5px;
        }

        .document-container {
            height: 100% !important;
            width: 100% !important;
            position: absolute !important;
        }

        .filtra {
            left: 0px;
            height: 100% !important;
            position: fixed !important;
            float: left !important;
            border-right: 1px #808080 !important;
            border-right-color: red;
            padding-left: 25px !important;
        }

        .ikona {
            position: relative !important;
            line-height: 0px;
            right: 405px;
        }

        .btn_ikone {
            background-color: #000000;
            border: thin;
            border-radius: 10px;
            color: white;
            padding: 12px 16px;
            font-size: 16px;
            cursor: pointer;
        }

        .btn_ikone_disabled {
            background-color: #000000;
            opacity: 0.3;
            border: thin;
            border-radius: 10px;
            color: white;
            padding: 12px 16px;
            font-size: 16px;
            cursor: pointer;
        }

        .table {
            margin: 0 auto;
        }

        #lista-skedare {
            list-style-type: none;
            left: 0px !important;
            right: 50px !important;
        }

        .inlinineLink {
            display: inline;
            padding: 10px;
        }


        .breadcrumb {
            position: relative !important;
            top: -35px !important;
            right: -10px !important;
            background: #fff !important;
            margin: 0 !important;
        }




        .navbar {
            width: 1921px !important;
            right: 391px !important;
            margin-top: 10px !important;
            font-size: medium !important;
            font: 400 !important;
            top: -20px !important;
        }


        .container-fluid {
            width: 100%;
            white-space: nowrap;
            padding: 0px;
        }

        .container-navbar {
            width: 100% !important;
            white-space: nowrap !important;
        }


        body {
            
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.5;
            color: #000000;
            text-align: left;
            background-color: #ffffff;
        }

        .btn
        .btn-primary {
            border: 0;
            font-weight: 800px !important;
            box-shadow: 5px 10px;
        }

        input,
        select,
        textarea {
            max-width: inherit;
            background-color: #ffffff;
        }


        .skedare_label1 {
            position: relative !important;
            top: 0px !important;
            left: 0px !important
        }

        .nav,
        .breadcrumb,
        .pagination {
            font-size: 1.1rem;
        }

        .fa-calendar {
            border: groove !important;
            border-color: transparent !important;
        }

        .list-group {
            font-size: 1.5rem;
            list-style-type: none;
        }
    </style>


</body>
</html>
@*Kod CSS per faqjen e index*@


