﻿

@using DetyraArkives_SkerdilajdSkenderi.Models;
@model dynamic
<ul id="lista-skedare">
    @foreach (var i in Model.inspektime)
    {

        <li id=@(i.ID_Inspektime) class="inlinineLink">
            <input type="checkbox" id=@(i.ID_Inspektime) onchange="FolderCheckChanged('@(i.ID_Inspektime)', this.checked)"/>
            <img onclick="afishoLlojeDokumenti(@("'"+i.Emer+"'"))" style="width:75px; height:85px;" src="~/Imazhe/folder-icon.png" />
            <label for="decimal_input"> @(i.Emer)</label>
        </li>

    }
</ul>
