﻿

@using DetyraArkives_SkerdilajdSkenderi.Models;
@model dynamic
<ul id="lista-skedare">
    @foreach (var l in Model.llojdokumenti)
    {

        <li id=@(l.ID_LlojDokument) class="inlinineLink">
            <input type="checkbox" id=@(l.ID_LlojDokument) onchange="FolderCheckChanged('@(l.ID_LlojDokument)', this.checked)" />
            <img onclick="afishoDokumenta(@("'"+l.Emer+"'"))" style="width:75px; height:85px;" src="~/Imazhe/folder-icon.png" />
            <label for="decimal_input"> @(l.Emer)</label>
        </li>

    }
</ul>