﻿

@using DetyraArkives_SkerdilajdSkenderi.Models;
@model dynamic
<ul id="lista-skedare">
    @foreach (var s in Model.subjektet)
    {

        <li id=@(s.ID_Subjekti) class="inlinineLink">
            <input type="checkbox" id=@(s.ID_Subjekti) onchange="documentCheckChanged('@(s.ID_Subjekti)', this.checked)"/>
            <img onclick="afishoInspektime(@("'"+s.Emer+"'"))" style="width:75px; height:85px;" src="~/Imazhe/folder-icon.png" />
            <label for="decimal_input"> @(s.Emer)</label>
        </li>

    }
</ul>