﻿

@model DetyraArkives_SkerdilajdSkenderi.Models.Perdoruesi
@{
    ViewBag.Title = "Rregjistrohu";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/umd")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@section Scripts {
    @Scripts.Render("~~/bundles/jqueryval")

}
@{
    ViewBag.Title = "Rregjistrohu";
}

<head>
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-sticky-top">
            <a class="navbar-brand" style="color:black;">Arkiva</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link register" href="@Url.Action("Index", "Login")">Hyr në Llogari</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link login" href="@Url.Action("Index", "Register")">Rregjistrohu</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</head>

<body class="text-center"
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4">
            <div class="card">
                <div class="card-header"><h2>Rregjistrohu</h2></div>
                <div class="card-body">

                    @using (Html.BeginForm("Index", "Register", FormMethod.Post))

                    {

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">

                            <label for="username" class="cols-sm-2 control-label">Emri i perdoruesit</label>

                            <div class="cols-sm-10" style="margin-top:5px;">
                                @Html.ValidationMessageFor(p => p.Emer, "", new { @class = "text-danger" })
                                <div class="input-group">
                                    <span class="input-group-addon" style="margin:10px;"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                    @Html.EditorFor(p => p.Emer, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })

                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">E-Mail</label>
                            <div class="cols-sm-10">
                                @Html.ValidationMessageFor(p => p.Email, "", new { @class = "text-danger" })
                                <div class="input-group" autocomplete="off" style="margin-top:5px;">
                                    <span class="input-group-addon" style="margin:10px;"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    @Html.EditorFor(p => p.Email, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Fjalekalim</label>
                            <div class="cols-sm-10" style="margin-top:5px;">
                                @Html.ValidationMessageFor(p => p.Fjalekalim, "", new { @class = "text-danger" })
                                <div class="input-group">
                                    <span class="input-group-addon" style="margin:10px;"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    @Html.EditorFor(p => p.Fjalekalim, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <button  class="btn btn-primary login-button" id="butonRregjistrohu">Rregjistrohu</button>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
  </div>
</body>

<style>
    .navbar {
        width: 1920px !important;
        right: 405px !important;
        margin-top: 10px !important;
        font-size: medium;
        font: 400;
        top: -20px;
        font-weight: bold;
        }

    #butonRregjistrohu {
        margin-top: 25px !important;
    }
</style>


