﻿

@model DetyraArkives_SkerdilajdSkenderi.Models.Perdoruesi
@{
    ViewBag.Title = "Hyrje";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/umd")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-sticky-top">
            <a class="navbar-brand" style="color:black;">Arkiva</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link register" href="@Url.Action("Index", "Login")">Hyr në Llogari</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link login" href="@Url.Action("Index", "Register")">Rregjistrohu</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</head>

<body class="text-center">
    <img class="mb-4" src="~/Imazhe/logo.png" alt="" width="100" height="100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4">
                <div class="card">
                    <div class="card-header"><h2>Identifikohu</h2></div>
                    <div class="card-body">

                        @using (Html.BeginForm("Index", "Login", FormMethod.Post))

                        {

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">

                                <label for="username" class="cols-sm-2 control-label">Emri i perdoruesit</label>

                                <div class="cols-sm-10">
                                    @Html.ValidationMessageFor(p => p.Emer, "", new { @class = "text-danger" })
                                    <div class="input-group">
                                        <span class="input-group-addon" style="margin-left:13px;"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                        @Html.EditorFor(p => p.Emer, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })

                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="password" class="cols-sm-2 control-label">Fjalekalim</label>
                                <div class="cols-sm-10">
                                    @Html.ValidationMessageFor(p => p.Fjalekalim, "", new { @class = "text-danger" })
                                    <div class="input-group">
                                        <span class="input-group-addon" style="margin-left:13px;"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        @Html.EditorFor(p => p.Fjalekalim, new { htmlAttributes = new { @class = "form-control", @autocomplete="off"} })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="butonIdentifikohu">
                                <button class="btn btn-primary btn-lgm login-button">Identifikohu</button>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .navbar {
            width: 1920px !important;
            right: 405px !important;
            margin-top: 10px !important;
            font-size: medium;
            font: 400;
            top: -20px;
            font-weight: bold;
        }

        #butonIdentifikohu{
        padding-top: 25px !important;
        }
    </style>
    <script>

    </script>
</body>
</html>






